body{
	background: grey;
}

.without{
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	text-align: center;
	margin-top: 80px;
	text-decoration: none;
  	text-shadow: 0 0 6px #2F4F4F;
  	font-weight: bold;
		}

.link{
	text-decoration: none;
	color: black;
	animation: pulse 2s infinite;
  	animation-timing-function: linear;
	animation-delay: 20s;
}

		@keyframes pulse {
		  0% {
		    color: black;
		  }
		  100% {
		    color: #2F4F4F;
  }
}


.poem{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	text-align: center;
	font-size: 100px;
}

.text1{
	position: absolute;
	width: 900px;
	margin-left: 20%;
	top:200px;
	opacity: 0;
	-webkit-animation: fade 2s;
	animation-delay: 2s;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.text2{
	position: absolute;
	width: 1500px;
	margin-left: 1%;
	top:200px;
	opacity: 0;
	-webkit-animation: fade 3s;
	animation-delay: 5s;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.text3{
	position: absolute;
	width: 1500px;
	margin-left: 0%;
	top:200px;
	opacity: 0;
	-webkit-animation: fade 3s;
	animation-delay: 8s;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.text4{
	position: absolute;
	width: 1500px;
	margin-left: 0%;
	top:200px;
	opacity: 0;
	-webkit-animation: fade 3s;
	animation-delay: 11s;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.text5{
	position: absolute;
	width: 1500px;
	margin-left: 0%;
	top:200px;
	opacity: 0;
	-webkit-animation: fade 3s;
	animation-delay: 14s;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.text6{
	position: absolute;
	width: 1500px;
	margin-left: 0%;
	top:200px;
	opacity: 0;
	-webkit-animation: fade 3s;
	animation-delay: 17s;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

